<section>
    @defer {
    <div class="h-auto bg-white flex flex-col items-center justify-center">
        <div class="w-full xs:max-w-md sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-6 xs:px-4 sm:px-6 md:px-8 lg:px-0 xl:px-0">
            <div class="max-w-full h-auto mt-6 lg:mt-8">
                <app-carousel
                    [images]="['/assets/image-event/secondMeet_1.png', '/assets/image-event/secondMeet_2.png', '/assets/image-event/secondMeet_3.png', '/assets/image-event/secondMeet_4.png',
                                '/assets/image-event/secondMeet_5.png', '/assets/image-event/secondMeet_6.png', '/assets/image-event/firtsMeet_1.png', '/assets/image-event/firtsMeet_2.png',
                                 '/assets/image-event/firtsMeet_3.png' , '/assets/image-event/firtsMeet_4.png', '/assets/image-event/firtsMeet_5.png', '/assets/image-event/firtsMeet_6.png']"
                    [autoPlay]="true" [interval]="6000"></app-carousel>
            </div><br><br>
            <div class="w-full flex flex-col justify-center items-center">
                <h1
                    class="text-primary font-display text-center text-4xl md:text-5xl lg:text-6xl font-extrabold">
                    Valencia Tech
                    Women</h1>
                <p class="text-septenary font-text text-xl font-normal text-center">
                    {{ "Connect, share and grow in a community designed to inspire women in tech." | translate }}
                </p>
                <a href="https://forms.gle/oTvyUoMdLKwStBcT9" target="_blank">
                    <button class="bg-octonary text-white font-text min-h-10 w-32 rounded-full mt-4 m-2">{{ "Join us" | translate }}</button>
                </a>                
            </div>
        </div>
    </div>
    }
    @defer {
    <div class="h-auto bg-gradient-tertiary flex flex-col items-center justify-center w-auto">
        <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-6 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            <div class="pt-8 pb-4 border-b border-tertiary">
                <div class="w-fit min-h-2 bg-black rounded-tr-[14px] pr-2 flex items-center">
                    <span class="text-white font-text pl-4">{{ "Who we are" | translate }}</span>
                </div>
                <h2 class="font-display text-tertiary text-4xl font-bold">{{ "Our goal" | translate }}</h2>
            </div>
            <div class="pt-[52px] pb-[34.75px] px-6 sm:px-10 md:px-16 lg:px-[102px] border-b border-tertiary">
                <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6 lg:gap-20">
                    <h1 class="text-primary font-display text-6xl font-bold max-w-[77px]">01</h1>
                    <h2
                        class="font-display text-tertiary text-2xl font-semibold w-full lg:max-w-[200px]">
                        {{ "Connection" | translate }}</h2>
                    <p class="text-septenary font-text text-xl font-normal w-full lg:max-w-[600px]">
                        {{ "We build a strong network for women in technology in Valencia, creating opportunities to collaborate, grow and support each other." | translate }}
                    </p>
                </div>
            </div>
            <div class="pt-[52px] pb-[43px] px-6 sm:px-10 md:px-16 lg:px-[102px] border-b border-b-tertiary">
                <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6 lg:gap-20">
                    <h1 class="text-primary font-display text-6xl font-bold max-w-[77px]">02</h1>
                    <h2
                        class="font-display text-tertiary text-2xl font-semibold w-full lg:max-w-[200px]">
                        {{ "Union" | translate }}
                    </h2>
                    <p class="text-septenary font-text text-xl font-normal w-full lg:max-w-[600px]">
                        {{"We offer an inclusive space where every voice is heard and every experience is valued." | translate }}</p>
                </div>
            </div>
            <div class="pt-[62px] pb-[102px] px-6 sm:px-10 md:px-16 lg:px-[102px]">
                <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6 lg:gap-20">
                    <h1 class="text-primary font-display text-6xl font-bold max-w-[77px]">03</h1>
                    <h2
                        class="font-display text-tertiary text-2xl font-semibold w-full lg:max-w-[200px]">
                        {{"Community" | translate }}
                    </h2>
                    <p class="text-septenary font-text text-xl font-normal w-full lg:max-w-[600px]">
                        {{ "We exchange knowledge, stories and lessons to promote personal and professional development." | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    } 
    @defer {
    <div class="h-auto bg-gradient-primary flex flex-col md:flex-row items-center justify-center gap-10 lg:gap-36 py-10 px-6 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            <div class="h-auto w-auto">
                <img src="/assets/image-event/firtsEvent.png" alt="Firts Event"
                    class="h-auto w-full max-w-[320px] md:max-w-sm rounded-[44px] mx-auto">
            </div>
        <div class="flex flex-col items-center mt-6 px-6 xs:px-6 md:px-8 lg:px-10 xl:px-12">
            <h2 class="text-primary font-display text-4xl font-bold">{{"Why join" | translate }} <br> Valencia
                Tech Women?</h2>
            <div class="w-full lg:max-w-auto m-4">
                <div class="w-fit h-6 bg-black rounded-tr-[14px] flex items-center px-2">
                    <span class="text-white font-text">{{ "Benefits" | translate }}</span>
                </div>
                <ul
                    class="text-septenary font-text text-lg w-full lg:max-w-[530px] pt-3 list-disc pl-5 md:pl-10 lg:pl-12">
                    <li>{{ "Networking with women who share your passion for technology." | translate }}</li>
                    <li>{{ "Access to exclusive events and inspiring talks." | translate }}</li>
                    <li>{{ "Opportunity for mentoring and professional development." | translate }}</li>
                    <li>{{ "Inclusive community and mutual support." | translate }}</li>
                </ul>
            </div>
            <a href="https://forms.gle/oTvyUoMdLKwStBcT9" target="_blank">
                <button class="bg-octonary text-white font-text h-10 w-32 rounded-full mt-4">{{ "Join us" | translate }}</button>
            </a>
        </div>
    </div>
    } 
    @defer {
    <div class="h-auto bg-gradient-quintarypt-[62px] flex flex-col items-center justify-center">
        <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-4 xs:px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            <div class="max-w-[344px] self-start pl-[24px] lg:pl-0">
                <div class="w-fit h-6 bg-black rounded-tr-[14px] flex items-center px-2">
                    <span class="text-white font-text">{{ "Activities" | translate }}</span>
                </div>
                <h2 class="font-display text-tertiary text-4xl font-bold mt-2">{{ "What do we do?" | translate }}</h2>
            </div>
            <div class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap gap-6 xl:gap-[80px] mt-[32px]">
                <div class="relative max-w-[344px] max-h-[352px] flex items-center justify-center">
                    <svg width="344" height="352" viewBox="0 0 344 352" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M343 42.7007V42.7007C343 19.669 322.649 1 297.543 1H46.4595C21.3532 1 1 19.669 1 42.7007V42.7007C1 56.8878 8.72992 69.4125 20.53 76.9456C8.72992 84.4786 1 97.0033 1 111.19C1 124.276 7.5754 135.95 17.8565 143.595C7.5754 151.24 1 162.914 1 176C1 189.572 8.07238 201.625 19.0135 209.239C8.07238 216.854 1 228.907 1 242.477C1 256.149 8.17178 268.284 19.2531 275.889C8.17178 283.492 1 295.629 1 309.299V309.299C1 332.331 21.3532 351 46.4595 351H297.543C322.649 351 343 332.331 343 309.299V309.299C343 295.629 335.828 283.492 324.749 275.889C335.828 268.284 343 256.149 343 242.477C343 228.907 335.93 216.854 324.986 209.239C335.93 201.625 343 189.572 343 176C343 162.914 336.425 151.24 326.143 143.595C336.425 135.95 343 124.276 343 111.19C343 97.0033 335.27 84.4786 323.47 76.9456C335.27 69.4125 343 56.8878 343 42.7007Z"
                            fill="white" stroke="#6921E7" stroke-width="1.34167" />
                    </svg>
                    <div class="absolute max-w-[234px] text-wrap">
                        <h2 class="font-display text-primary text-[30px] font-bold leading-[33px]">Meet-ups</h2>
                        <p class="text-septenary mt-10 font-text text-lg font-normal">
                            {{ "Monthly meetups to connect, inspire and strengthen our community of women in technology." | translate }}
                        </p>
                    </div>
                </div>
                <div class="relative max-w-[344px] max-h-[352px] flex items-center justify-center">
                    <svg width="344" height="352" viewBox="0 0 344 352" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M343 42.7007V42.7007C343 19.669 322.649 1 297.543 1H46.4595C21.3532 1 1 19.669 1 42.7007V42.7007C1 56.8878 8.72992 69.4125 20.53 76.9456C8.72992 84.4786 1 97.0033 1 111.19C1 124.276 7.5754 135.95 17.8565 143.595C7.5754 151.24 1 162.914 1 176C1 189.572 8.07238 201.625 19.0135 209.239C8.07238 216.854 1 228.907 1 242.477C1 256.149 8.17178 268.284 19.2531 275.889C8.17178 283.492 1 295.629 1 309.299V309.299C1 332.331 21.3532 351 46.4595 351H297.543C322.649 351 343 332.331 343 309.299V309.299C343 295.629 335.828 283.492 324.749 275.889C335.828 268.284 343 256.149 343 242.477C343 228.907 335.93 216.854 324.986 209.239C335.93 201.625 343 189.572 343 176C343 162.914 336.425 151.24 326.143 143.595C336.425 135.95 343 124.276 343 111.19C343 97.0033 335.27 84.4786 323.47 76.9456C335.27 69.4125 343 56.8878 343 42.7007Z"
                            fill="white" stroke="#6921E7" stroke-width="1.34167" />
                    </svg>
                    <div class="absolute max-w-[234px] text-wrap">
                        <h2 class="font-display text-primary text-[30px] font-bold leading-[33px]">Workshops</h2>
                        <p class="text-septenary mt-10 font-text text-lg font-normal">
                            {{ "Talks and workshops with experts who share key knowledge for our professional development." | translate }}
                        </p>
                    </div>
                </div>
                <div class="relative max-w-[344px] max-h-[352px] flex items-center justify-center">
                    <svg width="344" height="352" viewBox="0 0 344 352" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M343 42.7007V42.7007C343 19.669 322.649 1 297.543 1H46.4595C21.3532 1 1 19.669 1 42.7007V42.7007C1 56.8878 8.72992 69.4125 20.53 76.9456C8.72992 84.4786 1 97.0033 1 111.19C1 124.276 7.5754 135.95 17.8565 143.595C7.5754 151.24 1 162.914 1 176C1 189.572 8.07238 201.625 19.0135 209.239C8.07238 216.854 1 228.907 1 242.477C1 256.149 8.17178 268.284 19.2531 275.889C8.17178 283.492 1 295.629 1 309.299V309.299C1 332.331 21.3532 351 46.4595 351H297.543C322.649 351 343 332.331 343 309.299V309.299C343 295.629 335.828 283.492 324.749 275.889C335.828 268.284 343 256.149 343 242.477C343 228.907 335.93 216.854 324.986 209.239C335.93 201.625 343 189.572 343 176C343 162.914 336.425 151.24 326.143 143.595C336.425 135.95 343 124.276 343 111.19C343 97.0033 335.27 84.4786 323.47 76.9456C335.27 69.4125 343 56.8878 343 42.7007Z"
                            fill="white" stroke="#6921E7" stroke-width="1.34167" />
                    </svg>
                    <div class="absolute max-w-[234px] text-wrap">
                        <h2 class="font-display text-primary text-[30px] font-bold leading-[33px]">{{ "Collaboration" | translate }}</h2>
                        <p class="text-septenary mt-10 font-text text-lg font-normal">
                            {{ "Spaces dedicated to sharing knowledge, projects, ideas and experiences that drive us to grow together." | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    @defer {
    <div class="h-auto bg-white px-6 sm:px-10 md:px-16 lg:px-[102px] pt-[102px] flex flex-col items-center justify-center">
        <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-6 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            <div class="w-fit h-6 bg-black rounded-tr-[14px] flex items-center px-2">
                <span class="text-white font-text">{{"Partners" | translate }}</span>
            </div>
            <h2 class="font-display text-primary text-4xl font-bold pb-[73px]">{{ "Minds at the forefront" | translate }}
            </h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center pb-[73px]">
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/neema-balolebwami-nelly-8a2226107/" target="_blank">
                    <img src="/assets/image-avatar/NeemaBalolebwami.jpg" alt="Neema Balolebwami"
                        class="max-h-[200px] max-w-[200px] rounded-tl-0 rounded-tr-full rounded-bl-full rounded-br-full">
                        <div class="flex pt-4">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>    
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        Neema
                        Balolebwami</p>
                        </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Institutional Director</p>
                    </a>    
                </div>
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/agathadelolmo/" target="_blank">
                    <img src="/assets/image-avatar/AgathaDelOlmo.jpg" alt="Agatha del Olmo"
                        class="max-h-[200px] max-w-[200px] rounded-tl-full rounded-tr-full rounded-bl-full rounded-br-0">
                    <div class="flex pt-4">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        Agatha
                        del Olmo</p>
                    </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Alliance Manager</p>
                    </a>
                </div>
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/rosana-nunez/" target="_blank">
                    <img src="/assets/image-avatar/RosanaNunez.png" alt="Rosana Nuñez"
                        class="max-h-[200px] max-w-[200px] rounded-tl-full rounded-tr-0 rounded-bl-full rounded-br-full">
                    <div class="flex pt-4">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        Rosana
                        Nuñez</p>
                    </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Lead Web Developer</p>
                    </a>
                </div>
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/adriana-cassiani/" target="_blank">
                    <img src="/assets/image-avatar/AdrianaCassiani.png" alt="Adriana Cassiani"
                        class="max-h-[200px] max-w-[200px] rounded-tl-0 rounded-tr-full rounded-bl-full rounded-br-full">
                    <div class="flex pt-4">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        Adriana Cassiani</p>
                    </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Designer Manager</p>
                    </a>
                </div>
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/mariafernandacaballerocastro?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                    <img src="/assets/image-avatar/MariaCaballero.png" alt="María Caballero"
                        class="max-h-[200px] max-w-[200px] rounded-tl-full rounded-tr-full rounded-bl-full rounded-br-0">
                    <div class="flex pt-4 max-w-[200px]">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        María
                        Caballero</p>
                    </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Social Media Manager</p>
                    </a>
                </div>
                <div class="max-w-[280px] flex flex-col items-center text-center">
                    <a href="https://www.linkedin.com/in/arina-kapustina/" target="_blank">
                    <img src="/assets/image-avatar/ArinaKapustina.png" alt="Arina Kapustina"
                        class="max-h-[200px] max-w-[200px] rounded-tl-full rounded-tr-0 rounded-bl-full rounded-br-full">
                    <div class="flex pt-4">
                        <svg width="24" height="25" viewBox="0 0 26 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_37_298)">
                            <path
                                d="M24.0754 0.962891H1.91953C0.858203 0.962891 0 1.80078 0 2.83672V25.084C0 26.1199 0.858203 26.9629 1.91953 26.9629H24.0754C25.1367 26.9629 26 26.1199 26 25.0891V2.83672C26 1.80078 25.1367 0.962891 24.0754 0.962891ZM7.71367 23.1187H3.8543V10.7078H7.71367V23.1187ZM5.78398 9.0168C4.54492 9.0168 3.54453 8.01641 3.54453 6.78242C3.54453 5.54844 4.54492 4.54805 5.78398 4.54805C7.01797 4.54805 8.01836 5.54844 8.01836 6.78242C8.01836 8.01133 7.01797 9.0168 5.78398 9.0168ZM22.1559 23.1187H18.3016V17.0859C18.3016 15.6488 18.2762 13.7953 16.2957 13.7953C14.2898 13.7953 13.9852 15.3645 13.9852 16.9844V23.1187H10.1359V10.7078H13.8328V12.4039H13.8836C14.3965 11.4289 15.6559 10.398 17.5297 10.398C21.4348 10.398 22.1559 12.9676 22.1559 16.309V23.1187Z"
                                fill="#1B489C" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_298">
                                <rect width="26" height="26" fill="white" transform="translate(0 0.962891)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="font-text text-tertiary text-lg font-bold self-stretch pl-1">
                        Arina Kapustina</p>
                    </div>
                    <p
                        class="font-text text-septenary text-base font-normal self-stretch max-w-[280px]">
                        Content & Events Manager</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="h-auto bg-gradient-quaternary px-6 sm:px-10 md:px-16 lg:px-[102px] py-[102px] flex flex-col items-center justify-center aling-center">
        <p class="font-display text-tertiary font-semibold text-2xl w-full sm:max-w-[375px] xl:max-w-full text-center">
            {{ "Connect with women like you. Share unique moments. Growing together in technology." | translate }}
        </p>
        <a href="https://forms.gle/oTvyUoMdLKwStBcT9" target="_blank">
            <button class="bg-octonary text-white font-text h-10 w-32 rounded-full mt-4 m-2">{{ "Join us" | translate }}</button>
        </a>
    </div>
    }
    @defer {
    <div class="h-auto bg-gradient-secondary px-6 sm:px-10 md:px-16 lg:px-[102px] pt-[62px] pb-[50px] flex flex-col items-center justify-center">
        <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-6 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            <div class="w-fit h-6 bg-black rounded-tr-[14px] flex items-center px-2">
                <span class="text-white font-text">{{ "Approach" | translate }}</span>
            </div>
            <h2 class="font-display text-primary text-4xl font-bold">{{ "Be part of the community!" | translate }}</h2>

            <div
                class="w-full h-auto border border-tertiary rounded-tr-[160px] rounded-br-[160px] mt-8 py-20 px-6 sm:py-24 sm:px-8 md:px-16 lg:px-20 xl:px-24">
                <p
                    class="text-septenary font-display font-medium text-2xl sm:text-lg flex items-center justify-center">
                    {{ "Join Valencia Tech Women and be part of a network where women in technology connect, inspire and grow together. Together we create change! Don't worry... it's free!" | translate }}
                </p>
                <a href="https://forms.gle/oTvyUoMdLKwStBcT9" target="_blank">
                    <button class="bg-octonary text-white font-text h-10 w-32 rounded-full mt-4 mt-2">{{ "Join us" | translate }}</button>
                </a>
            </div>
        </div>
    </div>
    }
</section>
