<section class="body">
    <div class="h-[554px] bg-white flex justify-between items-center">
        <div class="w-[340px] h-[468px] flex flex-col justify-between items-start flex-shrink-0 pl-[102px]">
            <h1 class="text-primary font-display text-[60px] font-extrabold leading-[72px] self-stretch">Valencia Tech
                Women</h1>
            <p class="text-septenary font-text text-[22px] font-normal leading-[34px] self-stretch">Connect, share and
                grow in a community designed to inspire women in tech</p>
            <button class="bg-tertiary text-white font-text h-[40px] w-[139px] rounded-full cursor-pointer">Join us</button>
        </div>
        <app-carousel
            [images]="['src/assets/image_firtsEvent_3.jpg', 'src/assets/image_eg.jpeg', 'src/assets/logo.png']"
            [autoPlay]="true" [interval]="3000"></app-carousel>
    </div>
    <div class="h-[803px] bg-gradient-tertiary">
        <div class="pt-[114px] pl-[102px] pb-[74px] border-b-[1px] border-b-tertiary">
            <div class="w-[120px] h-[26px] bg-black rounded-tr-[14px]"><span class="text-white font-text pl-[10px]">Who
                    we are?</span></div>
            <h2 class="font-display text-tertiary text-[40px] font-bold leading-[48px]">Our goal</h2>
        </div>
        <div class="pt-[52px] pl-[102px] pb-[43px] pr-[102px] border-b-[1px] border-b-tertiary">
            <div class="flex justify-between items-center gap-20">
                <h1 class="text-primary font-display text-[60px] font-bold leading-[66px] w-[77px]">01</h1>
                <h2 class="font-display text-tertiary text-[28px] font-semibold leading-[30.8px] w-[200px]">Connection
                </h2>
                <p class="text-septenary font-text text-[22px] font-normal leading-[34px] w-[600px]">
                    We build a strong network for women in technology in Valencia, creating opportunities to
                    collaborate, grow and support each other.</p>
            </div>
        </div>
        <div class="pt-[52px] pl-[102px] pb-[43px] pr-[102px] border-b-[1px] border-b-tertiary">
            <div class="flex justify-between items-center gap-20">
                <h1 class="text-primary font-display text-[60px] font-bold leading-[66px] w-[77px]">02</h1>
                <h2 class="font-display text-tertiary text-[28px] font-semibold leading-[30.8px] w-[200px]">Union
                </h2>
                <p class="text-septenary font-text text-[22px] leading-[34px] w-[600px]">
                    We offer an inclusive space where every voice is heard and every experience is valued.</p>
            </div>
        </div>
        <div class="pt-[62px] pl-[102px] pb-[44px] pr-[102px]">
            <div class="flex justify-between items-center gap-20">
                <h1 class="text-primary font-display text-[60px] font-bold leading-[66px] w-[77px]">03</h1>
                <h2 class="font-display text-tertiary text-[28px] font-semibold leading-[30.8px] w-[200px]">Community
                </h2>
                <p class="text-septenary font-text text-[22px] leading-[34px] w-[600px]">
                    We exchange knowledge, stories and lessons to promote personal and professional development.</p>
            </div>
        </div>
    </div>
    <div class="h-[662px] bg-gradient-primary px-[102px] flex flex-col items-center justify-center">
        <h2 class="text-primary font-display text-[40px] font-bold leading-[48px]">Why join <br>Valencia Tech Women?</h2>
        <div class="flex justify-between items-center gap-10 mt-6">
            <img src="assets/image_firtsEvent_3.jpg" alt="First Event" class="h-[251px] w-[492px]" />
            <div>
                <div class="w-[90px] h-[24px] bg-black rounded-tr-[14px] flex items-center px-2">
                    <span class="text-white font-text">Benefits</span>
                </div>
                <ul class="text-septenary font-text text-[18px] leading-[19.8px] w-[530px] pt-3 list-disc pl-5">
                    <li>Networking with women who share your passion for technology.</li>
                    <li>Access to exclusive events and inspiring talks.</li>
                    <li>Opportunity for mentoring and professional development.</li>
                    <li>Inclusive community and mutual support.</li>
                </ul>
            </div>
        </div>
        <button class="bg-tertiary text-white font-text h-[40px] w-[201px] rounded-full mt-6 cursor-pointer">Join us</button>
    </div>
    <div class="h-[667px] bg-gradient-quintary"></div>
    <div class="h-[517px] bg-white"></div>
    <div class="h-[216px] bg-gradient-quaternary"></div>
    <div class="h-[667px] bg-gradient-secondary"></div>
</section>