<nav class="h-[120px] bg-senary flex justify-center items-center ">
    <div class="bg-white border-1 rounded-full h-[64px] w-[1076px] flex justify-between aling-center items-center pl-[20px] pr-[14px]">
            <a href="#" class="image"></a>
            <div class="flex gap-[28px] items-center">
                <span class="text-tertiary">EN</span>
                <span class="text-tertiary">Blog </span>
                <button class="W-[93px] h-[40px] rounded-full bg-tertiary"><span class="text-white px-[24px]">Join us</span></button>
            </div>
    </div>
</nav>