<nav class="h-[120px] bg-senary flex justify-center items-center">
  @defer {
  <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl">
    <div class="bg-white border rounded-full h-[64px] w-full flex justify-between items-center pl-5 pr-3.5">
      <a href="#">
        <img src="/assets/image-logo/logo.png" alt="Logo" class="h-[29.5px] w-auto max-w-[200px]">
      </a>
      <div class="flex gap-7 items-center">
        <select [(ngModel)]="selectedLocale" class="text-tertiary focus:outline-none" (change)="changeLanguage($event)">
          @for (locale of locales; track locale.value) {
          <option [value]="locale.value" class="text-tertiary">{{ locale.name }}</option>
          }
        </select>
        <button class="w-auto h-[40px] rounded-full bg-octonary font-text">
          <span class="text-white text-md px-6">{{ "Join us" |translate }}</span>
        </button>
      </div>
    </div>
  </div>
  }
</nav>