<nav class="bg-senary flex justify-center items-center py-6">
  @defer {
    <div class="w-full sm:max-w-4xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl px-6 sm:px-6 md:px-8 lg:px-10 xl:px-12">
      <div class="bg-white border rounded-full flex flex-row justify-between items-center px-4 py-2 gap-2">
        <a href="#">
          <img src="/assets/image-logo/logo.png" alt="Logo" class="h-auto w-auto m-2" />
        </a>
        <div class="flex gap-2 items-center sm:flex-col sm:gap-1 sm:items-end md:flex-row md:gap-2">
          <select [(ngModel)]="selectedLocale" class="text-tertiary focus:outline-none text-sm md:text-base w-auto" (change)="changeLanguage($event)">
            @for (locale of locales; track locale.value) {
            <option [value]="locale.value" class="text-tertiary">{{ locale.name }}</option>
            }
          </select>
          <a href="https://forms.gle/oTvyUoMdLKwStBcT9" target="_blank">
            <button class="rounded-full bg-octonary px-3 py-2 text-sm smd:text-base h-10 w-24 sm:w-20 md:w-24 lg:w-26 xl:w-28">
              <span class="text-white font-text">{{ "Join us" |translate }}</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  }
</nav>
