  <div class="carousel-container">
    <div class="carousel-wrapper" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
        @for(image of images; track image) {
            <div class="carousel-slide">
                <img [src]="image" alt="Slide {{ images.indexOf(image) + 1 }}" />
            </div>
        } @empty {
            <div class="carousel-slide">
                <p>No images available</p>
            </div>
        }
    </div>
    <button class="carousel-button prev" (click)="prevSlide()">❮</button>

    <button class="carousel-button next" (click)="nextSlide()">❯</button>

    <div class="carousel-indicators">
        @for(image of images; track image){
            <span class="dot" [class.active]="images.indexOf(image) === currentIndex" 
                  (click)="goToSlide(images.indexOf(image))">
            </span>
        } @empty {
            <p>No images available</p>
        }
    </div>
</div>
