<section class="home">
    <app-header></app-header>
    <div class="flex aling-center justify-center">
    <p class="text-center font-text w-[800px] pt-[30px]">El impacto femenino en tecnología
        Un recorrido por la historia y el futuro

        Este blog no solo busca inspirar a las niñas o mujeres que están iniciando su camino en tecnología, sino también
        a aquellas que, por barreras sociales o estereotipos, no han explorado este mundo. Queremos que esta información
        sirva como apoyo y motivación para quienes desean incursionar o continuar creciendo en este sector.
        Aunque ya hemos visto avances significativos, aún hay desafíos que enfrentar. Si no abordamos estos temas desde
        ahora, será difícil lograr un cambio significativo en el futuro.

        Empecemos hablando de las brechas de género en la tecnología:
        Según un estudio realizado por AnitaB.org en 2020, las mujeres representan solo el 28.8% de la fuerza laboral en
        la industria tecnológica a nivel mundial.
        En América Latina, esta cifra disminuye al 23%, reflejando una brecha de género significativa en la región.
        Además:
        Solo entre el 25% y el 33% de los roles de liderazgo en empresas tecnológicas son ocupados por mujeres.
        En educación, las mujeres constituyen apenas el 18% de los nuevos graduados en ciencias de la computación en
        Estados Unidos, una cifra aún menor entre minorías étnicas, que representan sólo un 6%.

        Iniciativas que están cerrando la brecha de género
        Existen varias organizaciones y proyectos que buscan aumentar la participación de mujeres en tecnología, como:
        Girls Who Code: Inspirando a jóvenes mujeres a entrar en el sector tech.
        Women Who Code: Creando comunidades globales para apoyar el desarrollo profesional de mujeres en tecnología.
        Estas iniciativas han generado impacto, pero todavía hay retos importantes que superar, especialmente en la
        representación femenina en áreas clave como inteligencia artificial, liderazgo y desarrollo.
    </p>
</div>
    <app-footer></app-footer>
</section>